.formulario {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  padding: 20px 20px;
}
.formulario .titulo__form {
  margin-top: 40px;
  text-shadow: 2px 4px 5px rgba(103, 103, 103, 0.57);
  text-align: center;
}
.formulario .container__form {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 3px 18px 4px #6c6a6a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  width: 434px;
}
.formulario .container__form .nao__obrigatorio::before {
  content: "";
}
.formulario .container__form .titulo__categoria {
  font-weight: 600;
}
.formulario .container__form .caixa__form, .formulario .container__form .caixa__estados .uf,
.formulario .container__form .caixa__estados .pais, .formulario .container__form .cpf-form,
.formulario .container__form .rg,
.formulario .container__form .logradouro,
.formulario .container__form .numero {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formulario .container__form .caixa__form .input__padrao, .formulario .container__form .caixa__estados .uf .input__padrao,
.formulario .container__form .caixa__estados .pais .input__padrao, .formulario .container__form .cpf-form .input__padrao,
.formulario .container__form .rg .input__padrao,
.formulario .container__form .logradouro .input__padrao,
.formulario .container__form .numero .input__padrao {
  border: 0.1rem solid #007BFF;
  border-radius: 10px;
  padding: 15px;
  outline-color: #6f88be;
  background-color: rgba(255, 255, 255, 0.5);
}
.formulario .container__form .caixa__form .input__padrao option, .formulario .container__form .caixa__estados .uf .input__padrao option,
.formulario .container__form .caixa__estados .pais .input__padrao option, .formulario .container__form .cpf-form .input__padrao option,
.formulario .container__form .rg .input__padrao option,
.formulario .container__form .logradouro .input__padrao option,
.formulario .container__form .numero .input__padrao option {
  text-align: center;
}
.formulario .container__form .caixa__form label::before, .formulario .container__form .caixa__estados .uf label::before,
.formulario .container__form .caixa__estados .pais label::before, .formulario .container__form .cpf-form label::before,
.formulario .container__form .rg label::before,
.formulario .container__form .logradouro label::before,
.formulario .container__form .numero label::before {
  content: "*";
}
.formulario .container__form .caixa__form .nao__obrigatorio::before, .formulario .container__form .caixa__estados .uf .nao__obrigatorio::before,
.formulario .container__form .caixa__estados .pais .nao__obrigatorio::before, .formulario .container__form .cpf-form .nao__obrigatorio::before,
.formulario .container__form .rg .nao__obrigatorio::before,
.formulario .container__form .logradouro .nao__obrigatorio::before,
.formulario .container__form .numero .nao__obrigatorio::before {
  content: "";
}
.formulario .container__form .caixa__dupla {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.formulario .container__form .logradouro {
  width: 80%;
}
.formulario .container__form .numero {
  width: 20%;
}
.formulario .container__form .caixa__sexo {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.formulario .container__form .caixa__estados {
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.formulario .container__form .caixa__estados .uf,
.formulario .container__form .caixa__estados .pais {
  width: 100%;
}
.formulario .container__form .btn {
  margin: 20px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 40px;
  color: white;
  background-color: #3752ad;
}
.formulario .container__form .btn:hover {
  background-color: #3363cc;
}/*# sourceMappingURL=formulario.css.map */