@use '../variaveis/variaveis.scss' as v;

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding: 40px 20px;

    .barra__progresso {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        img {
            width: 100%;
        }
        .check {
            max-width: 395px;
        }
        .texto {
            max-width: 400px;
        }
    }

    .titulo__form {
        text-align: center;
        margin-top: 40px;
    }

    .container__form {
        align-self: center;
        background-color:none;
       /*  box-shadow: 20px 20px 20px v.$cor-secundaria; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 40px 20px;
        width: 434px;

        // .nao__obrigatorio::before {
        //     content: '';
        // }
        .titulo__categoria {
            font-weight: 600;
        }

        .caixa__form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .input__padrao {
                border: 0.100rem solid;
                border-radius: 10px;
                padding: 15px;
                outline-color: v.$cor-primaria;
                option {
                    text-align: center;
                }
            }

            label {
                &::before {
                    content: '*';
                }
            }

            .nao__obrigatorio::before {
                content: '';
            }
        }

        .caixa__dupla {
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }

        .cpf,
        .rg,
        .logradouro,
        .numero {
            @extend .caixa__form;
        }

        .logradouro {
            width: 80%;
        }

        .numero {
            width: 20%
        }

        .caixa__sexo {
            background: #FFFFFF;
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .caixa__estados {
            justify-content: space-between;
            display: flex;
            gap: 10px;

            .uf,
            .pais {
                @extend .caixa__form;
                width: 100%;
            }

        }

        .btn {
            margin: 20px 0;
            background-color: v.$cor-secundaria;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            padding: 10px 40px;

            &:hover {
                background-color: v.$cor-primaria;
            }
        }
    }
}