.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  padding: 40px 20px;
}
.formulario .barra__progresso {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.formulario .barra__progresso img {
  width: 100%;
}
.formulario .barra__progresso .check {
  max-width: 395px;
}
.formulario .barra__progresso .texto {
  max-width: 400px;
}
.formulario .titulo__form {
  text-align: center;
  margin-top: 40px;
}
.formulario .container__form {
  align-self: center;
  background-color: none;
  /*  box-shadow: 20px 20px 20px v.$cor-secundaria; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 20px;
  width: 434px;
}
.formulario .container__form .titulo__categoria {
  font-weight: 600;
}
.formulario .container__form .caixa__form, .formulario .container__form .caixa__estados .uf,
.formulario .container__form .caixa__estados .pais, .formulario .container__form .cpf,
.formulario .container__form .rg,
.formulario .container__form .logradouro,
.formulario .container__form .numero {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formulario .container__form .caixa__form .input__padrao, .formulario .container__form .caixa__estados .uf .input__padrao,
.formulario .container__form .caixa__estados .pais .input__padrao, .formulario .container__form .cpf .input__padrao,
.formulario .container__form .rg .input__padrao,
.formulario .container__form .logradouro .input__padrao,
.formulario .container__form .numero .input__padrao {
  border: 0.1rem solid;
  border-radius: 10px;
  padding: 15px;
  outline-color: #EDCEA7;
}
.formulario .container__form .caixa__form .input__padrao option, .formulario .container__form .caixa__estados .uf .input__padrao option,
.formulario .container__form .caixa__estados .pais .input__padrao option, .formulario .container__form .cpf .input__padrao option,
.formulario .container__form .rg .input__padrao option,
.formulario .container__form .logradouro .input__padrao option,
.formulario .container__form .numero .input__padrao option {
  text-align: center;
}
.formulario .container__form .caixa__form label::before, .formulario .container__form .caixa__estados .uf label::before,
.formulario .container__form .caixa__estados .pais label::before, .formulario .container__form .cpf label::before,
.formulario .container__form .rg label::before,
.formulario .container__form .logradouro label::before,
.formulario .container__form .numero label::before {
  content: "*";
}
.formulario .container__form .caixa__form .nao__obrigatorio::before, .formulario .container__form .caixa__estados .uf .nao__obrigatorio::before,
.formulario .container__form .caixa__estados .pais .nao__obrigatorio::before, .formulario .container__form .cpf .nao__obrigatorio::before,
.formulario .container__form .rg .nao__obrigatorio::before,
.formulario .container__form .logradouro .nao__obrigatorio::before,
.formulario .container__form .numero .nao__obrigatorio::before {
  content: "";
}
.formulario .container__form .caixa__dupla {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.formulario .container__form .logradouro {
  width: 80%;
}
.formulario .container__form .numero {
  width: 20%;
}
.formulario .container__form .caixa__sexo {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.formulario .container__form .caixa__estados {
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.formulario .container__form .caixa__estados .uf,
.formulario .container__form .caixa__estados .pais {
  width: 100%;
}
.formulario .container__form .btn {
  margin: 20px 0;
  background-color: #BEAC95;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 40px;
}
.formulario .container__form .btn:hover {
  background-color: #EDCEA7;
}/*# sourceMappingURL=formulario.css.map */