{% extends 'template.html' %}
{% block conteudo %}
            <section class="formulario">
                <div class="barra__progresso">
                    <img src="../static/img/progresso25.png" alt="Barra de progresso iniciando em 25%">
                </div>
                <h2 class="titulo__form">Formulário de cadastro</h2>
                <form action="/formularioidenficacao" method="post" class="container__form">
                    <span class="titulo__categoria">Identificação</span>
                    <div class="caixa__form">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" class="input__padrao">
                    </div>
                    <div class="caixa__dupla">
                        <div class="rg">
                            <label for="rg">RG:</label>
                            <input type="text" id="rg" name="rg" class="input__padrao">
                        </div>
                        <div class="cpf">
                            <label for="cpf">CPF:</label>
                            <input type="number" id="cpf" class="input__padrao">
                        </div>
                    </div>
                    <div class="caixa__form">
                        <label for="oe">Orgão Expedidor:</label>
                        <input type="text" class="input__padrao" id="oe">
                    </div>
                    <div class="caixa__sexo">
                        <span>*Sexo:</span>
                        <input type="radio" name="sexo" id="masculino">
                        <label for="masculino">Masculino</label>
                        <input type="radio" name="sexo" id="feminino">
                        <label for="feminino">Feminino</label>
                    </div>
                    <div class="caixa__form">
                        <label for="pai">Pai:</label>
                        <input type="text" id="pai" class="input__padrao">
                    </div>
                    <div class="caixa__form">
                        <label for="mae">Mãe:</label>
                        <input type="text" id="mae" class="input__padrao">
                    </div>
                    <div class="caixa__form">
                        <label for="naturalidade">Naturalidade:</label>
                        <input type="text" id="naturalidade" class="input__padrao">
                    </div>
                    <div class="caixa__estados">
                        <div class="uf">
                            <label for="estados">UF:</label>
                            <select id="estados" name="estados" class="input__padrao">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="pais">
                            <label for="pais">País:</label>
                            <input type="text" id="pais" class="input__padrao" value="Brasil">
                        </div>
                    </div>
                    <button class="btn" type="submit">Próximo</button>
                </form>
            </section>

{% endblock %}