{% extends 'template.html' %}
{% block conteudo %}
            <section class="formulario">
                <div class="barra__progresso">
                    <img src="../static/img/progresso75.png" alt="Barra de progresso iniciando em 25%">
                </div>
                <h2 class="titulo__form">Formulário de cadastro</h2>
                <form action="/formularioendereco" method="post" class="container__form">
                    <span class="titulo__categoria">Endereço</span>
                    <div class="caixa__form">
                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" name="cep" class="input__padrao">
                        <p id="erro"></p>
                    </div>
                    <div class="caixa__dupla">
                        <div class="logradouro">
                            <label for="logradouro">Logradouro:</label>
                            <input type="text" id="logradouro" name="logradouro" class="input__padrao">
                        </div>
                        <div class="numero">
                            <label for="numero">N°:</label>
                            <input type="number" id="numero" name="numero" class="input__padrao">
                        </div>
                    </div>
                    <div class="caixa__form">
                        <label for="complemento" class="nao__obrigatorio">Complemento:</label>
                        <input type="text" class="input__padrao" id="complemento" name="complemento">
                    </div>
                    <div class="caixa__form">
                        <label for="bairro">Bairro:</label>
                        <input type="text" id="bairro" name="bairro" class="input__padrao">
                    </div>
                    <div class="caixa__estados">
                        <div class="pais">
                            <label for="cidade">Cidade:</label>
                            <input type="text" id="cidade" name="cidade" class="input__padrao">
                        </div>
                        <div class="uf">
                            <label for="estados">UF:</label>
                            <select id="estados" name="uf" class="input__padrao">
                                <option value="" selected>Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>
                    <div class="caixa__form">
                        <label for="tel">Telefone:</label>
                        <input type="tel" id="tel" name="telefone" class="input__padrao">
                    </div>
                    <button class="btn" type="submit">Próximo</button>
                </form>
            </section>
{% endblock %}