{% extends 'template.html' %}
{% block conteudo %}
            <section class="formulario">
                <div class="barra__progresso">
                    <img src="../static/img/progresso75.png" alt="Barra de progresso iniciando em 25%">
                </div>
                <h2 class="titulo__form">Formulário de cadastro</h2>
                <form action="/formulariooutros" method="post" class="container__form">
                    <span class="titulo__categoria">Outros Dados</span>
                    <div class="caixa__form">
                        <label for="dataNascimento">Data de Nascimento:</label>
                        <input type="date" id="dataNascimento" name="dataNascimento" class="input__padrao">
                    </div>
                    <div class="caixa__form">
                        <label for="estadoCivil">Estado Civil:</label>
                        <select name="estadoCivil" id="estadoCivil" class="input__padrao">
                            <option value="">Selecione</option>
                            <option value="Solteiro">Solteiro</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viúvo">Viúvo</option>
                            <option value="Sep. Judicialmente">Sep. Judicialmente</option>
                        </select>
                    </div>
                    <div class="caixa__form">
                        <label for="nomeConjuge">Nome do Cônjuge:</label>
                        <input type="text" class="input__padrao" id="nomeConjuge" name="nomeConjuge">
                    </div>
                    <div class="caixa__form">
                        <label for="profissao">Profissão:</label>
                        <input type="text" class="input__padrao" id="profissao" name="profissao">
                    </div>
                    <div class="caixa__form">
                        <label for="escolaridade">Escolaridade:</label>
                        <select name="escolaridade" id="escolaridade" class="input__padrao">
                            <option value="" selected>Selecione</option>
                            <option value="Analfabeto">Analfabeto</option>
                            <option value="Alfabetizado">Alfabetizado</option>
                            <option value="Primário">Primário</option>
                            <option value="1° Grau">1° Grau</option>
                            <option value="2° Grau">2° Grau</option>
                            <option value="Superior">Superior</option>
                        </select>
                    </div>
                    <div class="caixa__form">
                        <label for="dataDeBatismo">Data de Batismo:</label>
                        <input type="text" class="input__padrao" id="dataDeBatismo" name="dataDeBatismo">
                    </div>
                    <div class="caixa__sexo">
                        <span>*Batizado Esp.Santo?</span>
                        <input type="radio" name="batismo" id="sim">
                        <label for="masculino">Sim</label>
                        <input type="radio" name="batismo" id="nao">
                        <label for="nao">Não</label>
                    </div>
                    <div class="caixa__form">
                        <label for="rol">Entrada no ROL de membros:</label>
                        <input type="text" id="rol" name="rol" class="input__padrao">
                    </div>
                    <div class="caixa__form">
                        <label for="congregacao">Congregação:</label>
                        <input type="text" id="congregacao" name="congregacao" class="input__padrao">
                    </div>
                    <div class="caixa__form">
                        <label for="funcao">Função:</label>
                        <select name="funcao" id="funcao" class="input__padrao">
                            <option value="">Selecione</option>
                            <option value="PASTOR">PASTOR</option>
                            <option value="EVANGELISTA">EVANGELISTA</option>
                            <option value="PRESBÍTERIO">PRESBÍTERIO</option>
                            <option value="DIÁCONO">DIÁCONO</option>
                            <option value="AUXILIAR">AUXILIAR</option>
                            <option value="MEMBRO">MEMBRO</option>
                        </select>
                    </div>
                    <div class="caixa__form">
                        <label for="origem">Origem:</label>
                        <select name="origem" id="origem" class="input__padrao">
                            <option value="">Selecione</option>
                            <option value="PASTOR">BATISMO</option>
                            <option value="EVANGELISTA">TRANFERÊNCIA</option>
                            <option value="PRESBÍTERIO">PRESBÍTERIO</option>
                            <option value="DIÁCONO">ACLAMAÇÃO</option>
                            <option value="AUXILIAR">CONGREGAÇÃO</option>
                        </select>
                    </div>
                    <div class="caixa__form">
                        <label for="situacao">Situação:</label>
                        <select name="situacao" id="situacao" class="input__padrao">
                            <option value="">Selecione</option>
                            <option value="PASTOR">ATIVO</option>
                            <option value="EVANGELISTA">DISCIPLINADO</option>
                            <option value="PRESBÍTERIO">TRANSFERIDO</option>
                            <option value="DIÁCONO">FALECIDO</option>
                            <option value="AUXILIAR">CAND. BATISMO</option>
                            <option value="DESVIADO">DESVIADO</option>
                            <option value="CONGREGADO">CONGREGADO</option>
                            <option value="DESCONHECIDO">DESCONHECIDO</option>
                        </select>
                    </div>
                    <div class="caixa__form">
                        <Label for="observacao">De que Igreja e Cidade?</Label>
                        <textarea name="observacao" id="observacao" cols="30" rows="10" class="input__padrao"></textarea>
                    </div>
                    <button class="btn" type="submit">Próximo</button>
                </form>
            </section>
{% endblock %}