@use '../variaveis/variaveis.scss' as v;

.container__nav {
    align-items: center;
    background-color: v.$cor-nav;
    display: flex;
    gap: 60px;
    flex-direction: column;
    min-height: 900px;
    /* padding: 20px; */
    position: relative;
    top: 0;
    min-height: 80rem;
    min-width: 17rem;
    box-shadow: 4px -2px 5px 2px rgba(26, 19, 28, 0.56);
    -webkit-box-shadow: 4px -2px 5px 2px rgba(26, 19, 28, 0.56);
    -moz-box-shadow: 4px -2px 5px 2px rgba(26, 19, 28, 0.56);

    /*    .img {
        width: 260px;
        height: 60px;
        background-color: lightgray;
    } */
    .logo {
        height: 150px;
        position: fixed;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: fixed;
        top: 100px;
        margin-top: 60px;

        a {
            text-decoration: none;


            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: #ffffff;
            background-color: v.$cor-nav;
            min-width: 17.1rem;
            min-height: 4rem;
            padding: 5px 0;
            /* border-radius: 10px; */
            /* box-shadow: 0px 5px 6px 0px #000000; */
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: v.$cor-sombra-botao;
            }

            img {
                padding: 0.75rem;
                width: 1.7rem;
                position: absolute;
                left: 3px
            }



        }
    }
}