@use '../variaveis/variaveis.scss' as v;

.container__nav {
    align-items: center;
    background-color: v.$cor-terciaria;
    display: flex;
    gap: 60px;
    flex-direction: column;
    min-height: 900px;
    padding: 20px;
    position: relative;
    top: 0;
    min-width: 320px;

    .img {
        width: 260px;
        height: 60px;
        background-color: lightgray;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 150px;

        a {
            button {
                background-color: v.$cor-secundaria;
                width: 280px;
                padding: 20px 0;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                &:hover {
                    background: v.$cor-primaria;
                }
            }

        }
    }
}