// Cores

$cor-header: #952CAE;
$cor-nav: #007BFF;
$cor-botao-nav: #6f88be;
$cor-text-shadow: 2px 4px 5px rgba(103, 103, 103, 0.57);
$cor-font-btn: #FFFFFF;

// Backgrounds

$bd-input: rgba(255, 255, 255, 0.5);
$bd-nav: #007BFF;
$bd-btn: #3752ad;
$bd-btn-hover: #3363cc;

// Tamanho Fontes

$font-titulos: 2.5rem;
$font-subtitulos: 1.5rem;