$cor-primaria: #EDCEA7;
$cor-secundaria: #BEAC95;
$cor-terciaria: #948F87;
$cor-quaternaria: #506572;
$cor-quinternaria: #756D7B;
$cor-header: #952CAE;
$cor-nav: #007BFF;
$cor-botao-nav: #6f88be;
$cor-sombra-botao: #3363cc;