
@media print {
    .no-print {
        visibility: hidden;
    }
    @page {
        size: auto; /* Pode ser 'auto', 'A4', 'letter', etc. */
        margin: 0; /* Remove as margens padrão */
    }

    /* Torna o conteúdo visível ocupar toda a folha */
    .geral__tabela {
        width: 100%;
        height: 100%;
        .container__tabela {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .conteudo__tabela-lista {
                .lista__tabela {
                    font-size: 10px;
                }
            }
        }
    }
    .print {
        visibility: visible;
        
    }
}