// Cores

$cor-header: #952CAE;
$cor-nav: #007BFF;
$cor-botao-nav: #6f88be;
$cor-text-shadow: 2px 4px 5px rgba(103, 103, 103, 0.57);
$cor-font-btn: #FFFFFF;
$cor-font-texto-padrao: #000000;

// Backgrounds

$bd-input: rgba(255, 255, 255, 0.5);
$bd-nav: #007BFF;
$bd-btn: #3752ad;
$bd-btn2: #3652AD;
$bd-btn-hover: #3363cc;

// Tamanho Fontes

$font-titulo: 2.25rem;
$font-subtitulo: 1.5rem;
$font-texto-padrao: 1.2rem;