@use '../abstract/variaveis' as v;
@use '../abstract/mixins';

.titulo__form {
    text-shadow: 2px 4px 5px rgba(103, 103, 103, 0.57);
}

.img-tabela {
    width: 32px;
    margin-left: 10px;
}

.btn-buscar {
    height: 26px;
    border: 1px solid;
    border-left: none;
    border-radius: 0px 168px 168px 0px;
    -webkit-border-radius: 0px 168px 168px 0px;
    -moz-border-radius: 0px 168px 168px 0px;

}

.cpf {
    @include mixins.dflex-aitems-jcontent-flexd-gap(center, flex-start, row, 0);

    label {
        margin-right: 5px;
        font-weight: 600;
        font-size: 22px;
    }

    .cpf-busca {
        outline: none;
        padding-left: 12px;
        text-align: center;
        border-radius: 168px 0px 0px 167px;
        -webkit-border-radius: 168px 0px 0px 167px;
        -moz-border-radius: 168px 0px 0px 167px;
        height: 27px;
        border: 1px solid;
        border-right: none;

    }

}

.dashboard {
    @include mixins.dflex-aitems-jcontent-flexd-gap(stretch, center, row, 32px);
    margin: 120px 0 0 0;

    .dashboard__total__membros {
        @include mixins.dflex-aitems-jcontent-flexd-gap(center, flex-start, column, 0);

        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #FFFFFF;
        align-items: center;
        justify-content: center;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 2px 3px 18px 4px #6c6a6a;

        h1 {
            margin: auto;
            font-size: 32px;
        }

        p {
            @include mixins.fs-fc-fw(1.75rem, red, 600);
        }
    }

    .dashboard__tabela {
        @extend .dashboard__total__membros;
        justify-content: flex-start;

        .titulo {
            @include mixins.fs-fc-fw(2rem, v.$cor-font-texto-padrao, 600);
            margin: 0;
        }

        .dashboard__container__tabela {
            @include mixins.dflex-aitems-jcontent-flexd-gap(stretch, space-around, column, 20px);

            border-collapse: collapse;
            text-align: center;

            .titulo__tabela {
                border: 1px solid;
                text-align: center;
            }


            .conteudo__tabela-lista {
                .lista__tabela {
                    @include mixins.fs-fc-fw(0.75rem, v.$cor-font-texto-padrao, 400);
                    border: 1px solid;
                    padding: 2px;
                }

            }
        }
    }
}

.btn-buscar {
    height: 31px;
    border: 1px solid black;
    color: v.$cor-font-btn;
    background-color: v.$bd-btn2;
}

.titulo_pagina {
    text-shadow: 2px 4px 5px rgba(103, 103, 103, 0.57);
    text-align: center;
    margin-top: 40px;
}

.geral__tabela {
    @include mixins.dflex-aitems-jcontent-flexd-gap(center, flex-start, column, 60px);
    margin-top: 120px;
    padding: 40px 0;

    .container__tabela {
        border-radius: 10px;
        box-shadow: 2px 3px 18px 4px #6c6a6a;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 20px;
        padding: 40px 20px;
        text-align: center;

        table {
            border-collapse: collapse;

            .titulo__secao {
                @include mixins.fs-fc-fw(1.5rem, v.$cor-font-texto-padrao, 600);
            }
            
            .titulos__tabela {
                .titulo__tabela {
                    @include mixins.fs-fc-fw(1rem, v.$cor-font-texto-padrao, 500);
                    border: 1px solid;
                    width: 200px;
                }
            }
            
            .conteudo__tabela-lista {
                .lista__tabela {
                    @include mixins.fs-fc-fw(0.75rem, v.$cor-font-texto-padrao, 400);
                    border: 1px solid;
                    padding: 5px 20px 7px 20px;
                }

            }
        }
    }

    .btn {
        margin: 20px 0;
        background-color: v.$bd-btn;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 40px;
        color: #ffffff;
        background-color: v.$bd-btn2;

        &:hover {
            background-color: v.$bd-btn-hover;
        }
    }
}