@use '../variaveis/variaveis.scss';

.conteudo {
   background-image: url(/static/img/5134341.jpg);
    
    /* background-repeat: ; */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
}
