{% extends 'template.html' %}
{% block conteudo %}
<section class="formulario" id="formulario">
    <h2 class="titulo__form">Cadastro de Membro</h2>
    <form action="{{ url_for('cadastrar_no_banco') }}" method="post" class="container__form">
        <span class="titulo__categoria">Identificação</span>
        {{ form.csrf_token() }}
        <div class="caixa__form">
            {{ form.nome.label(class="input__label") }}
            {{ form.nome(class="input__padrao", id="nome") }}
        </div>
        <div class="caixa__dupla">
            <div class="rg input-number">
                {{ form.rg.label(class="input__label") }}
                {{ form.rg(class="input__padrao", id="rg") }}
            </div>
            <div class="cpf-form">
                {{ form.cpf.label(class="input__label") }}
                {{ form.cpf(class="input__padrao", oninput="criaMascara('cpf')") }}
            </div>
            <p>{{ p }}</p>
        </div>
        <div class="caixa__form">
            {{ form.orgao_expedidor.label(class="input__label") }}
            {{ form.orgao_expedidor(class="input__padrao", id="orgaoExpedidor") }}
        </div>
        <div class="caixa__form">
            <label for="sexo" class="input__label">Sexo:</label>
            <select id="sexo" name="sexo" class="input__padrao">
                {% for value, label in form.sexo.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            {{ form.pai.label(class="input__label") }}
            {{ form.pai(class="input__padrao", id="pai") }}
        </div>
        <div class="caixa__form">
            {{ form.mae.label(class="input__label") }}
            {{ form.mae(class="input__padrao", id="mae") }}
        </div>
        <div class="caixa__form">
            {{ form.naturalidade.label(class="input__label") }}
            {{ form.naturalidade(class="input__padrao", id="naturalidade") }}
        </div>
        <div class="caixa__estados">
            <div class="uf">
                <label for="ufIdentidade" class="input__label">UF Identidade:</label>
                <select id="ufIdentidade" name="ufIdentidade" class="input__padrao">
                    {% for value, label in form.ufIdentidade.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="pais">
                {{ form.pais.label(class="input__label") }}
                {{ form.pais(class="input__padrao", id="pais", value="Brasil") }}
            </div>
        </div>
        <span class="titulo__categoria">Endereço</span>
        <div class="caixa__form">
            {{ form.cep.label(class="input__label") }}
            {{ form.cep(class="input__padrao input-number", oninput="criaMascara('cep')") }}
            <p id="erro"></p>
        </div>
        <div class="caixa__dupla">
            <div class="logradouro">
                {{ form.logradouro.label(class="input__label") }}
                {{ form.logradouro(class="input__padrao", id="logradouro") }}
            </div>
            <div class="numero input-number">
                {{ form.numero.label(class="input__label") }}
                {{ form.numero(class="input__padrao", id="numero") }}
            </div>
        </div>
        <div class="caixa__form">
            {{ form.complemento.label(class="input__label nao__obrigatorio") }}
            {{ form.complemento(class="input__padrao", id="complemento") }}
        </div>
        <div class="caixa__form">
            {{ form.bairro.label(class="input__label") }}
            {{ form.bairro(class="input__padrao", id="bairro") }}
        </div>
        <div class="caixa__estados">
            <div class="pais">
                {{ form.cidade.label(class="input__label") }}
                {{ form.cidade(class="input__padrao", id="cidade") }}
            </div>
            <div class="uf">
                <label for="ufEndereco" class="input__label">UF</label>
                <select id="ufEndereco" name="ufEndereco" class="input__padrao">
                    {% for value, label in form.ufEndereco.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="caixa__form">
            {{ form.telefone.label(class="input__label") }}
            {{ form.telefone(class="input__padrao", oninput="criaMascara('telefone')") }}
        </div>
        <span class="titulo__categoria">Outros Dados</span>
        <div class="caixa__form">
            {{ form.dataNascimento.label(class="input__label") }}
            {{ form.dataNascimento(class="input__padrao", id="dataNascimento") }}
        </div>
        <div class="caixa__form">
            <label for="estadoCivil" class="input__label">Estado Civil</label>
            <select id="estadoCivil" name="estadoCivil" class="input__padrao">
                {% for value, label in form.estadoCivil.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            {{ form.nomeConjuge.label(class="input__label") }}
            {{ form.nomeConjuge(class="input__padrao", id="nomeConjuge") }}
        </div>
        <div class="caixa__form">
            {{ form.profissao.label(class="input__label") }}
            {{ form.profissao(class="input__padrao", id="profissao") }}
        </div>
        <div class="caixa__form">
            <label for="escolaridade" class="input__label">Escolaridade</label>
            <select id="escolaridade" name="escolaridade" class="input__padrao">
                {% for value, label in form.escolaridade.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            {{ form.dataDeBatismo.label(class="input__label nao__obrigatorio") }}
            {{ form.dataDeBatismo(class="input__padrao", id="dataDeBatismo") }}
        </div>
        <div class="caixa__form">
            <label for="batizado" class="input__label">Batizado no Espírito Santo?</label>
            <select id="batizado" name="batizado" class="input__padrao">
                {% for value, label in form.batizado.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            {{ form.entradaRol.label(class="input__label nao__obrigatorio") }}
            {{ form.entradaRol(class="input__padrao", id="entradaRol") }}
        </div>
        <div class="caixa__form">
            {{ form.congregacao.label(class="input__label") }}
            {{ form.congregacao(class="input__padrao input-number", id="congregacao") }}
        </div>
        <div class="caixa__form">
            <label for="funcao" class="input__label">Função:</label>
            <select id="funcao" name="funcao" class="input__padrao">
                {% for value, label in form.funcao.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            <label for="origem" class="input__label">Origem:</label>
            <select id="origem" name="origem" class="input__padrao">
                {% for value, label in form.origem.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            <label for="situacao" class="input__label">Situação:</label>
            <select id="situacao" name="situacao" class="input__padrao">
                {% for value, label in form.situacao.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="caixa__form">
            {{ form.observacao.label(class="input__label") }}
            {{ form.observacao(class="input__padrao", id="observacao") }}
        </div>
        <div>
            {{ form.cadastrar(class="btn") }}
        </div>   
    </form>
</section>

{% endblock %}