{% extends 'template.html' %}
{% block conteudo %}

<section class="geral__tabela">
    <div>
        <p> Total de membros cadastrados: {{ total_de_membros }}</p>
    </div>

    <div>
        <table class="container__tabela">
            <th class="titulo__tabela">Aniversariantes do mês</th>
            <tr class="titulos__tabela conteudo__tabela-lista">
                <th class="titulo__tabela">Nome</th>
                <th class="titulo__tabela">Data de Nascimento</th>
            </tr> 
            {% for membro in membros %}
            <tr class="conteudo__tabela-lista">
                <td class="lista__tabela">{{ membro.nome }}</td>
                <td class="lista__tabela">{{ membro.data_nascimento.strftime('%d/%m/%Y') }}</td>
            </tr>               
            {% endfor %}
        </table>
    </div>
</section>


{% endblock %}