{% extends 'template.html' %}
{% block conteudo %}
<section class="geral__tabela">
  <h2 class="titulo__pagina">Membros cadastrados</h2>
  <div class="container__tabela">
    <table class="print">
      <tbody>
        <tr class="titulos__tabela">
          <th class="titulo__tabela">Nome</th>
          <th class="titulo__tabela">RG</th>
          <th class="titulo__tabela">CPF</th>
          <th class="titulo__tabela">Org. expedidor</th>
          <th class="titulo__tabela">Pai</th>
          <th class="titulo__tabela">Mãe</th>
        </tr>
        {% for membro in membros %}
        <tr class="conteudo__tabela-lista">
          <td class="lista__tabela">{{ membro.nome }}</td>
          <td class="lista__tabela">{{ membro.rg }}</td>
          <td class="lista__tabela">{{ membro.cpf }}</td>
          <td class="lista__tabela">{{ membro.orgao_expedidor }}</td>
          <td class="lista__tabela">{{ membro.pai }}</td>
          <td class="lista__tabela">{{ membro.mae }}</td>
          <td class="no-print">
            <a href="{{ url_for('editar', id=membro.id) }}"><img class="img-tabela" src="../static/img/editar.svg"
                alt=""></a>
            <a href="{{ url_for('deletar', id=membro.id) }}"><img class="img-tabela edit-list"
                src="../static/img/trash.svg" alt=""></a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  <button class="btn" id="btnPdf">Salvar</button>
</section>

{% endblock %}