<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="../static/scss/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="geral">
        <div class="container__nav no-print">
            <img class="logo" src="../static/img/logo.png" alt="">
            <nav>
                <a href="{{ url_for('index') }}"><img src="../static/img/house-fill.svg"
                            alt="Imagem de uma casa na cor branca">Início</a>
                <a href="{{ url_for('formulario_de_cadastro') }}"><img
                            src="../static/img/person-fill-add.svg" alt="imagem de um boneco com um sinal de mais">Cadastrar</a>
                <a href="{{ url_for('lista_de_membros') }}"><img src="../static/img/listar.svg"
                            alt="Imagem de uma prancheta">Lista</a>
                <a href="{{ url_for('consultar_membro') }}"><img src="../static/img/bx-search-alt.svg" alt="">Membro</a>
                <a href="{{url_for('logout')}}"><img src="../static/img/saida.svg"
                            alt="">Sair</a>
            </nav>
        </div>

        <div class="conteudo no-print">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block conteudo %} {% endblock %}
        </div>
    </section>

    <script src="../static/js/preencherEndereco.js"></script>
    <script src="../static/js/salvar_pdf.js"></script>
    <script src="../static/js/mascara_cpf.js"></script>
</body>

</html>