<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="../static/scss/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="geral">
        <div class="container__nav no-print">
            <nav>
                <a href="{{ url_for('index') }}"><button type="button">Inicial</button></a>
                <a href="{{ url_for('formulario_de_cadastro') }}"><button type="button">Cadastrar membro</button></a>
                <a href="{{ url_for('listarMembros') }}"><button type="button">Listar membros</button></a>
                <a href="{{ url_for('consultarMembro') }}"><button type="button">Consultar membro</button></a>
                <a href="#"><button type="button">Grupos</button></a>
                <a href="#"><button type="button">Configurações</button></a>
            </nav>
        </div>
        <div class="conteudo no-print">
            <div class="container__header">
                <div class="container__img">
                    <img class="logo" src="../static/img/sgmad-removebg-preview.png" alt="">
                </div>
                <div class="titulo">
                    <h1>Sistema de Gerenciamento</h1>
                </div>
                <div class="icones">
                    <img src="../static/img/Dark.png" alt="Icone de uma lua que altera para o modo escuro">
                    <img src="../static/img/Notificação.png" alt="Icone de um sino para notificação sobre avisos">
                </div>
            </div>
            {% block conteudo %} {% endblock %}
        </div>
    </section>
    <footer class="container__footer no-print">
        <p>&copy; Todos os Direitos Reservados</p>
    </footer>

    <script src="../static/js/preencherEndereco.js"></script>
    <script src="../static/js/liberarEnvio.js"></script>
    <script src="../static/js/salvar_pdf.js"></script>
</body>

</html>
