<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/salvar_pdf.js" defer></script>
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="geral">
        <div class="container__nav no-print">
            <img class="logo" src="../static/img/logo.png" alt="">
            <nav>
                <a href="{{ url_for('index') }}">
                    <img src="../static/img/house-fill.svg" alt="Imagem de uma casa na cor branca">
                    <span>Início</span>
                </a>
                <a href="{{ url_for('formulario_de_cadastro') }}">
                    <img src="../static/img/person-fill-add.svg"
                        alt="imagem de um boneco com um sinal de mais">
                        <span>Cadastrar</span>
                </a>
                <a href="{{ url_for('lista_de_membros') }}">
                    <img src="../static/img/listar.svg"
                        alt="Imagem de uma prancheta">
                    <span>Listar</span>
                </a>
                <a href="{{ url_for('consultar_membro') }}">
                    <img src="../static/img/bx-search-alt.svg"
                        alt="">
                        <span>Consultar</span>
                </a>
                <a href="{{url_for('logout')}}">
                    <img src="../static/img/saida.svg" alt="">
                    <span>Sair</span>
                </a>
            </nav>
        </div>

        <div class="conteudo no-print">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block conteudo %} {% endblock %}
        </div>
    </section>

    <script src="../static/js/preencherEndereco.js"></script>
    <script src="../static/js/mascara.js"></script>
    <script src="../static/js/valida_select.js"></script>
</body>

</html>