@use './reset/reset.scss';
@use './conteudo/conteudo.scss';
@use './header/header.scss';
@use './geral/geral.scss';
@use './nav/nav.scss';
@use './formulario/formulario.scss';
@use './tabela_membros/tabela.scss';
@use './print_lista/print.scss';
@use './footer/footer.scss';