@use '../variaveis/variaveis.scss' as v;

.geral__tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px 0;

    .container__tabela {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        background-color: #FFFFFF;
        padding: 40px 20px;

        .conteudo__tabela-lista {
            .lista__tabela {
                font-size: 12px;
                border-bottom: 1px solid;
                padding: 2px;
            }

        }
    }

    .btn {
        margin: 20px 0;
        background-color: v.$cor-secundaria;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 40px;

        &:hover {
            background-color: v.$cor-primaria;
        }
    }
}