@use '../variaveis/variaveis.scss' as v;

.geral__tabela {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 120px;
    padding: 40px 0;

    .container__tabela {
        background-color: #FFFFFF;
        border-collapse: collapse;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        padding: 40px 20px;
        text-align: center;

        .titulos__tabela {
            .titulo__tabela {
                border: 1px solid;
            }
        }

        .conteudo__tabela-lista {
            .lista__tabela {
                font-size: 12px;
                border: 1px solid;
                padding: 2px;
            }

        }
    }

    .btn {
        margin: 20px 0;
        background-color: v.$cor-secundaria;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 40px;

        &:hover {
            background-color: v.$cor-primaria;
        }
    }
}