@use '../variaveis/variaveis.scss' as v;

.container__header {
    align-items: center;
    background-color: v.$cor-header;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 40px 20px;
    position: fixed;
    right: 0;
    width: 100%;
    border-bottom: 0.10rem solid;
    /* box-shadow: -1px 6px 5px -5px rgba(10,10,10,1);
-webkit-box-shadow: -1px 6px 5px -5px rgba(10,10,10,1);
-moz-box-shadow: -1px 6px 5px -5px rgba(10,10,10,1);
 */
    .container__img {
        margin-left: 70px;
    }
    
    .titulo {
        width: 100%;
        h1 {
            text-align: center;
        }
    }
    .icones {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    #img{
        padding-left: 50px;
}
}
